<!DOCTYPE html>
<html>
<head>
<title>Company_Registration</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<style type="text/css">
.btn {
 box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.05);
 color: #fff;
 background: linear-gradient(to right, #9C27B0, #E040FB);
 text-decoration:none;
}
.btn-success{
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.05);
 color: #fff;
 background: linear-gradient(to right, #9C27B0, #E040FB);
 
}
</style>
<body>
<div class="container" >

	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card">
				<header class="card-header">
					<a href="../main.html" class="float-right btn btn-success mt-1">Back</a>
					<h4 class="card-title mt-2">Company Registraion</h4>
				</header>
				<article class="card-body">
				<form>
					<div class="form-group">
						<label>Company name </label>  
 						<input type="text" class="form-control" placeholder="" required>
					</div> <!-- form-group end.// -->
					<div class="form-group">
						<label>Pan No</label>
						<input type="text" class="form-control" placeholder="" required>
					</div>
					<div class="form-group">
						<label>Address</label>
						<input type="text" class="form-control" placeholder="" required>
					</div>

					<div class="form-group">
						<label>Contact No </label>  
 						<input type="text" class="form-control" placeholder="" required>
					</div> <!-- form-group end.// -->

<!-- form-group end.// -->
					<div class="form-group">
						<label>Email </label>
						<input type="email" class="form-control" placeholder="" required>
<!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
					</div>
					<div class="form-row">
						<div class="col form-group">
							<label>Password </label>  
 								<input type="password" class="form-control" placeholder="" required>
						</div> <!-- form-group end.// -->
						<div class="col form-group">
							<label>Confirm Password</label>
 							<input type="password" class="form-control" placeholder=" " required>
						</div> <!-- form-group end.// -->
					</div>

  					<div class="form-group">
      					<button onclick="window.location.href='#';" type="submit" class="btn btn-success btn-block"> Register  </button>
  					</div> <!-- form-group// -->      
                                       
				</form>
			</article> <!-- card-body end .// -->
		<div class="border-top card-body text-center">Have an account? <a href="companylogin.html">Log In</a>

	</div>
</div>
</div>
</div>
</div>
</body>
</html>