{% load static %}

<!DOCTYPE html>
<html>
<head>
 <title>login page</title>
 <link rel="stylesheet" type="text/css" href="{% static 'css/clogin.css' %}">
</head>
<body>

 <div class="main">
   <p class="sign" align="center"> Student Login</p>
   <form class="form1">
     <input class="el " type="email" align="center" placeholder="Enter your Email">
     <input class="pass" type="password" align="center" placeholder=" Enter your Password">


   
     <a class="submit" align="center" href="#">submit</a>
     
     
     <a href="{%url 'home'%}"> <button type="button">Back</button>  </a>  
               
   </div>
 
   

</body>
</html>